@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@800&display=swap');

/* Logo font */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');


/* Name: Ann Maria Jiji
   Class: DISM/2A/04
   Admin No.: 2227522 */



.container {
    /* Set the size of the container to cover the entire viewport */
    position: relative;
    width: 100%;
    height: 100vh;
}
  
.login-form {
    /* Set the position of the login form to be absolute, relative to the container */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Increase the width and height of the box */
    width: 400px;
    height: 400px;

    padding: 30px;
    background-color: #1f2833;
    border-radius: 10px;

    /* Add border properties */
    border-style: solid; /* Specify the border style as 'solid' */
    border-width: 2px; /* Set the width of the border */
    border-color: #45a29e; /* Set the color of the border */
}
  

/* Add additional styling for the login form as needed */
.login-form h1 {
    text-align: center;
    font-family: Rowdies, sans-serif;
    color: #ffcb9a
}
  
.login-form .form-group {
    margin-top: 20px;
    margin-bottom: 10px;
}
  
.login-form label {
    display: block;
    margin-bottom: 5px;
    font-family: Lato, sans-serif;
    color: #ffcb9a;
}
  
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #c5c6c7;
    border-radius: 5px;
    background-color: #1f2833;
    color: white;
}

.login-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #116466; /* Primary button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: Lato, sans-serif;
}
  
.login-form button:hover {
    background-color: #45a29e; /* Button color on hover */
}
  
  
  
  
  